@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "./reset";
@import "./media";

/*===================================HEADER=&=NAVIGATION========5--258===================================*/

/*Button burger for open mobile menu*/
@include breakpoint(md) {
    .open_menu {        
        position: absolute;
        top: 45px;
        right: 36px;
        width: 26px;
        height: 26px;     
        z-index: 50;			
    }
    .burger,
    .burger:before,
    .burger:after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
    }
    .burger:before {
        content: '';
        top: -8px;
    }
    .burger:after {
        content: '';
        top: 8px;
    }
        
    .open_menu.active > span {
        width: 0;			
    }
    .open_menu.active > span::before {
        top: 0;
        transform: rotate(45deg);
        width: 30px;	
    }
    .open_menu.active > span::after {
        top: 0;
        transform: rotate(-45deg);		
        width: 30px;	
    }
        
    body.lock {
        overflow: hidden;
    }
	
	.menu__list,.menu__list.active {		
		position: absolute;
		width: 100%;
		height: 100%;       				
		left: 0;
    z-index: 40;
		background-color: #fff;
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;		
	}
	.menu__list {
		top: -100vh;	
	}

	.menu__list.active {		
		top: 80px;  
    padding: 0 0 90px 0;		
		overflow: auto;	
	}	
}


/*====Header and menu===*/

.container_inner {
  padding: 0 92px;
  @include breakpoint(lg1170) {
    padding: 0 30px;
  }
  @include breakpoint(lg) {
    padding: 0 10px;
  }  
}

img {
    width: 100%;
    overflow: hidden;    
}

.page {
    width: 100%;
    min-height: 100%;
	  overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $phone;
    @include breakpoint(md) {
        background-color: white;        
    }

    .container {        
      max-width: 1120px;
      margin: 0 auto;     
    }
}//end-page

.header {
  background-color: white;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    @include breakpoint(md) {      
      height: 100px;     
    }

    &__logo2, &__search {
        display: inline-block;
        position: relative;
        z-index: 9;
        background-color: #fff;
    }
    &__search {
      & input {
        text-transform: uppercase;       
        width: 92px;
        margin-left: 7px;
      }
      & label {
        width: 18px;
        cursor: pointer;
      }
      padding: 7px 30px;
      border: 1px solid black;
      @include breakpoint(lg) {
        padding: 5px 10px;
      }
      @include breakpoint(md) { 
        border: 0;
        padding: 5px 2px; 
        position: relative;
        right: 5rem;
      }
    }
}

//menu 
.menu__list {
    list-style: none;
    text-transform: uppercase;  
    padding: 50px 0 0 0;
    text-align: center;
    display: block;
    font-size: 1.5rem; 
    @include breakpoint(lg) {
      margin: 1rem 0;
    }  
  }
  .menu__item, .menu_dropdown, .togMenu {
    display: block;
    margin: 0.8rem;
    
    padding: 1rem;
    cursor: pointer; 
    background-color: white;
    @include breakpoint(lg) {
      margin: 0.5rem 0;
      padding: 1rem 0.5rem;
    }
  } 
  
  .menu_dropdown, input#submenu {
    display: none;   
  }
  #submenu:checked ~ .menu_dropdown{ 
    display: block; 
    color: #000;
    background-color: white;
    font-size: 1.2rem;
  }
  .subitems {
    display: none; 
  }

  // menu   w>=768
  @include breakpoint(mdmin768) {
    .menu__list {
        padding: 0;
        font-size: 1rem;
    }
    .menu__item:hover, .menu_dropdown:hover, .togMenu:hover {
      color: #ccc;
      background-color: #000;
    }
    .submenu, #submenu:checked ~ .menu_dropdown, .togMenu { 
      display: none; 
      font-size: 1rem;      
    }
    .subitems {
      display: block;
      position: relative;
    }
    .subitems:hover .submenu {
      display: block;
      position: absolute;
      z-index: 5;
      top: 3rem;
      left: 0;
      @include breakpoint(lg) {
        top: 2rem;       
      }
    } 
    .menu__item {
      display: inline-block;
      background-color: #fff;
    }
    .submenu__item:first-child {    
      padding: 1rem; 
      @include breakpoint(lg) {
        margin: 0;
        padding: 1rem 0.5rem;
      }       
    }
    .submenu__item {
      padding: 1rem;
      display: block;
      background-color: #fff;
      white-space: nowrap;
      color: #000;
      &:not(:last-child) {
        margin-bottom: 1px;
      }
      @include breakpoint(lg) {
        margin: 1px 0;
        padding: 1rem 0.5rem;
      }
    }
   
    .submenu__item:hover {
      color: #ccc;
      background-color: #000;
    }
  }


  /*===================================END=HEADER=&=NAVIGATION========5--256====================================*/


  /*===================================MAIN============================================*/
.main {
  max-width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
  z-index: 0;
  margin: 84px 0;
  @include breakpoint(md) { 
    margin: 20px 0;
  } 

  &__phone {    
    overflow: hidden;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    @include breakpoint(lg) {
      position: relative;
    }
     
    .slider-line {
      display: flex;    
      transition: all ease 1s;    
    }
    
    
  }
  &__content {
    position: relative;
    z-index: 2;
    max-width: 360px;
    width: 100%;
    padding: 50px 0 55px 0; 
    
    @include breakpoint(lg) {
      position: static;
      max-width: none;
    }
  }
  &__image, &__title, &__text {
    @include breakpoint(lg) {
      display: none;
    }
  }
  &__image { 
    width: 75%;
    height: auto;   
  }
  &__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 24px;
    color: #911026; 
    margin: 35px 0 0 0;   
  }
  &__text {
    max-width: 320px;
    font-size: 16px;
    color: #000;
    margin: 26px 0;
  }
  &__btn {
    border: 1px solid #c2c2c2;    
    display: inline-block;
    @include breakpoint(lg) {
      position: relative;
      display: inline-block;        
      left: 50%;   
      bottom: 30px;   
      transform: translateX(-50%);    
      border: 0; 
      z-index: 9;      
    }
   
    
  
    &>a {
      display: inline-block;
      text-transform: uppercase;
      color: #3b3b3b;
      padding: 5px 12px 2px;
      font-size: 12px;
      line-height: 1.5;
      white-space: nowrap; 
      
      @include breakpoint(lg) {
        display: block;
        font-size: 20px;
        background-color: #fff;
      }
    }
    &>a:hover {
      background-color: #9d9d9d;
      color: #000;
      @include breakpoint(lg) {
        background-color: #ccc;
      }
    }
  }
}



/*============================Recipees=========================*/

.recipees {
  background-color: white;
  @include breakpoint(lg) { 
    position: relative;  
    top: -100px;
  }
}

.recipees__row {
  display: flex;
  padding: 50px 30px;
  @include breakpoint(md) { 
    flex-direction: column;
    padding: 30px;     
  }
 

  .recipees__column {
    flex: 0 1 33.333%;
    margin: 0 20px; 
    @include breakpoint(md) { 
      margin: 20px 0;
    }   
  }
}

.recipees-item_img img {
  display: block;
  object-fit: cover;  
  width: 100%;
  height: 208px;   
}

.recipees-item__text {
  font-size: 18px;
  margin: 15px 0 10px 0;
}
.recipees-item__icons span {
  margin: 0 0 0 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: #555;   
  }
}
.vline {
  border-left: 1px solid #6f6f6f;
  padding: 0 5px;
}
